
# editors
*~
\#*
\.#*
*.tmproj
tmtags
TAGS
*.swp

## PROJECT::GENERAL
coverage
rdoc
pkg

# editors
# miscellaneous
# version control
*.tmproj
*DO_NOT_VERSION*
*~
.#*
.DS_Store
.bak
.bzr
.hg
.svn
/chimps.gemspec
TAGS
\#*
\.#*
pkg/*
